/*
 * style sheet for frame
 * @author: glint.it@foxmail.com
 * @date: 2020/7/7
 */
 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Microsoft YaHei",arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #ececec;
	overflow: hidden;
}
a,a:hover, a:active,a:visited {
	text-decoration: none;
}
ul,li {
	list-style: none;
}
.clearfix {
	clear: both;
}
.clearfix::after {
	clear: both;
    content: "";
    display: block;
    overflow: hidden;
    height: 0;
}
.trans{
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* head */
.head {
	height: 50px;
	background: url(../img/logo.png) no-repeat 10px #fff;
	color: #5d5d5d;
}

.head .top-tools {
	position: relative;
	float: right;
	margin-right: 10px;
	height: 50px;
}
.head .top-tools img,
.head .top-tools a {
	display: inline-block;
	float: left;
}
.head .top-tools a {
	margin-top: 10px;
	margin-left: 5px;
	height: 30px;
	width: 30px;
	background-image: url(../img/head.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.head .top-tools a.exit {
	background-position: -30px 0;
}
.head .top-tools a.layout {
	background-position: -60px 0;
}
.head .top-tools img.avat {
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

/* navigation */
.leftnav {
	position: absolute;
	top: 50px;
	left: 0;
	width: 200px;
	height: calc(100% - 50px);
	background-color: #252c49;
}

.leftnav .title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	background-color: #4a7dbe;
	color: #fff;
}
.leftnav .navslide {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background: url(../img/navslide.png) no-repeat center;
}

.navtree {
	padding-left: 6px;
}
.navtree li.mainnav {
	width: 70px;
	padding: 10px 0;
}
li.mainnav a {
	display: block;
	color: #aaa;
}
li.mainnav a img {
	display: block;
	height: 25px;
	width: 25px;
	margin: 0 auto;
	border: none;
}
li.mainnav a span {
	display: block;
	padding-top: 5px;
	text-align: center;
}
li.mainnav:hover,
li.mainnav.on {
	background-color: #343d5e;
}
.leftnav .subnav {
	position: absolute;
	left: 76px;
	right: 0;
	top: 40px;
	bottom: 0;
	background-color: #343d5e;
	display: none;
}
.leftnav .subnav li {
	height: 40px;
	line-height: 40px;
}
.leftnav .subnav li a {
	display: block;
	padding-left: 15px;
	color: #fff;	
}
.leftnav .subnav li a:hover {
	background-color: #3E4D71;
}

/* mini */
.leftnav.mini {
	width: 76px;
}
.leftnav.mini .subnav {
	width: 120px;
	right: auto;
}
.leftnav.mini li.mainnav.on .subnav {
	display: none;
}
.leftnav.mini li.mainnav.on {
	background-color: transparent;
}
.leftnav.mini li.mainnav:hover {
	background-color: #343d5e;
}
li.mainnav.on .subnav,
.leftnav.mini li.mainnav:hover .subnav {
	display: block;
}
.leftnav.mini .title b {
	display: none;
}
.leftnav.mini .navslide {
	right: 20px;
}

/* page center */
.ct {
	margin-left: 200px;
	overflow: hidden;
}
.ct.exp {
	margin-left: 76px;
}
.ct .page-title {
	height: 40px;
	overflow: hidden;
	width: 0;
	-webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}
.ct .page-title span {
	position: relative;
	display: inline-block;
	float: left;
	top: 4px;
	height: 32px;
	margin-left: 5px;
	line-height: 32px;
	width: 100px;
	padding-right: 20px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	background-color: #fff;
}
.ct .page-title span i {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	height: 32px;
	width: 20px;
	background: url(../img/close.png) no-repeat center;
	opacity: 0.7;
}
.ct .page-title span i:hover {
	opacity: 1;
}
.ct .page-title span.on {
	color: #497fbd;
}
.iframe-page {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
}