/*
 * style sheet for frame pages
 * @author: glint.it@foxmail.com
 * @date: 2020/7/7
 */
 
body {
	padding: 15px;
}
.hide {
	display: none;
}
.relative {
	position: relative;
}
.left {
	float: left;
}
.right {
	float: right;
}
.margin-top {
	margin-top: 10px;
}
.padding-bottom {
	padding-bottom: 10px;
}
.center {
	text-align: center;
}

.page-title {
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ddd;
	font-size: 14px;
	font-weight: bold;
}
.items span,
.items a {
	margin-right: 15px;
}
